/* HOMEPAGE FEATURES FIX */

body.front #block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features div.view-content div.views-row div.views-field-title{
	margin: 0;
	padding: 0;
	z-index: 1000;
	height: 0;
	width: 301px;
	border-style: none;
	background: none;
}

body.front #block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features div.view-content div.views-row div.views-field-title span a:hover{
	background-color: #2a0057;
}


body.front #block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features div.view-content div.views-row div.views-field-title a {
	height: 0;
	padding-left: 30px;
	padding-top: 21px;
	padding-bottom: 36px;
	left: 666px;
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	clear: left;
	position: absolute;
	border-left: 2px solid white;
	width: 303px;
}

body.front #block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features.view-id-homepage_features.view-display-id-block_1.view-dom-id-3 div.view-content div.views-row.views-row-2.views-row-even div.views-field-title a {
	margin-top: 58px;
}


body.front #block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features.view-id-homepage_features.view-display-id-block_1.view-dom-id-3 div.view-content div.views-row.views-row-3.views-row-odd div.views-field-title a {
	margin-top: 116px;
}


#block-views-homepage_features-block_1 div.block-inner div.content div.view.view-homepage-features.view-id-homepage_features.view-display-id-block_1.view-dom-id-3 div.view-content div.views-row.views-row-4.views-row-even.views-row-last div.views-field-title a {
	margin-top: 174px;
}





body.front #block-block-36{
	position: absolute;
	width: 330px;
	}
	
	
body.front #content-area #block-block-34 .block-inner h2.title, 
body.front #content-area #block-block-36 .block-inner h2.title{
	position: relative;
	left: 0;
	top: 0;
	z-index: 5000;
	}
	
body.front #content-area #block-block-34 .block-inner .content, 
body.front #content-area #block-block-36 .block-inner .content{
	padding-top: 62px;
	}

	
body.front #block-views-News_List_2011-block_1{
	width: 334px;
	left: 332px;
	position: relative;
	}
	
body.front #block-views-7ff332e7a668ab4abe3bd184c474d472{
	width: 332px;
	position: relative;
	left: 332px;
	}