@CHARSET "UTF-8";

fieldset {
	display:block;
	clear:both;
	margin-bottom:1.25em;
	padding-bottom:1em;
	border-bottom: 1px dotted #33004D;
}


fieldset.collapsed{
	border: 0px dotted #ddb426;
	display:block;
	background-image: none;
	background-color:transparent;
	margin-bottom:3em;
	}

legend{
  font-weight: bold;
  font-size: 1em;
  color: #E5A10F;
  text-transform: uppercase;
}

h2.gold {
  font-weight: bold;
  color: #E5A10F;
  text-transform: uppercase;
}

legend a, legend a:focus, legend a:hover, legend a:visited{
  color: #E5A10F;
  text-decoration: none;
}

/* for fieldset inside fieldset, remove the styles */
	fieldset > fieldset{
	margin-bottom:2px;
}


fieldset.noborder {
	border: none;
}

html.js  fieldset.collapsed + fieldset{
	margin-top:1em;
}

html.js fieldset.collapsible legend a {
	background:transparent url(../images/arrow-down.png) no-repeat scroll center left;
	padding-left: 15px;
	padding-right: 0px  !important;
}

html.js  fieldset.collapsed legend a{
	background:transparent url(../images/arrow.png) no-repeat scroll center left;
	padding-left: 15px;
	padding-right: 0px  !important;
}

#user-login-form {
text-align: left;
}


.form-item{
	padding: 0.5em 0 0 0;
	margin: 0 0 1em 0;
}

.form-item table{
	clear:both;
	float:none;
}


#search label{
	font-weight:normal;
	font-size:.9em;
	display:block;
	float:none;
	text-align:right;
}

.assessment-add-form-wrapper .form-item label{
	font-weight: bold;
	float: left;
	min-width: 250px;
}

.assessment-add-form-wrapper .recipients_box {
	margin-left:100px;
	margin-bottom: 3em;
	clear: both;
}
.assessment-add-form-wrapper .recipients_box .form-item label {
	float:none;
}

.form-item .description{
	clear:both;
	float:none;
	font-size:.9em;
}

input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
/*min-width: 180px;*/
}


input[type="submit"],
input[type="button"],
button,
.form-submit,
input.form-submit {
  cursor: pointer;
  border: none;
  background: url(../images/button-bg-small.png);
  color:#027ac6; /* 333 */
  width: 130px;
  height: 22px;
  padding: 0 0;
}
.cel-dashboard-console-form .form-submit,
#edit-assessment-submit,
#edit-org-save,
#edit-org-delete,
#edit-keyword-save,
#edit-panes-uc-discounts-uc-discounts-button,
#cel-assessment-codes #edit-submit,
.yui-skin-sam .yui-button button {
  background: url(../images/button-bg-med.png);
  width: 200px;
}

input.submit-smaller,
input.course-filter-submit
 { width:75px; background:url(../images/button-bg-smaller.png); padding-right:0px; margin-right:0px; }


.cel-console-link,
#edit-assessment-rater-reselect,
#edit-assessment-setup-submit,
#edit-set-org-submit,
#edit-assessment-edit,
#payment-button,
.raterTable #edit-submit {
  background: url(../images/button-bg-large.png);
  width: 280px;
}
.cel-console-link {
  float: right;
  text-align: center;
  margin-left: 1em;
}
.cel-console-link a {
  display: block;
  text-decoration: none;
  color: #333;
  height: 22px;
  line-height: 22px;
}
.cel-console-linkrow {
  overflow: hidden; /* contain floats */
  margin-bottom: 1em;
}
.cel-console-linkrow .cel-console-link {
  float: left;
  margin-left: 0;
  margin-right: 1em;
}
.cel-exams-stat {
  padding-left: 3em;
}

#edit-assessment-raters-wrapper label {
  display: none;
}

#cel-raters-multiselect {
  clear: both;
  margin-left: 0;
}

html.js .resizable-textarea textarea ,
textarea{
	clear:both;
	float:none;
}

form #filters {
	width: 100%;
	overflow: hidden; /* contain floats */
}
form #filters .form-item, form #filters label, form #filters .form-submit {
	float:left;
	padding: 0;
	margin: .5em;
	font-weight: bold;
}

#cel-exams-stats {
  margin-bottom: 0.5em;
}
.cel-exams-stat {
  display: inline;
}
.cel-exams-stat-name {
  font-weight: bold;
}

#cel-exam-set-edit .form-item {
	margin: 0px;
}

.hilight {
  background: #ffc566;
  font-color: black;
  font-weight: bold;
  padding: .25em 0 .25em .5em;
}

#login_embed, #cost-set {
  background: #e1e1e1;
  border: 0px;
  margin: 0px;
  width: auto;
  float: left;
}



#login_embed div.form-item {
  padding: 0 1em;
}

#login_embed #edit-email-wrapper, #login_embed #edit-name-wrapper {
  margin-top: 0;
}

#login_embed a {
  margin-top: .5em;
  padding: 0 1em;
}

#login_embed .form-submit {
  margin-left: 1em;
}

#login_embed #edit-email-wrapper {
	float: left;
}

#login_embed #edit-name-wrapper {
	float: left;
}

#login_embed #or-wrapper {
  display: inline;
  float: left;
  padding-top: 1.5em;
}

#cost-set {
	padding: 1em;
}

#cost-set .form-item {
  font-weight: bold;
  padding: 0;
}

#cost-set #notoriousbig-wrapper,#cost-set #notoriousbig-solo-wrapper {
  font-size: 1.5em;
}

#cost-details {
  font-size: .75em;
}
	
#cost-set .form-item .description {
  font-weight: normal;
}

#cost-set .form-item label {
  padding: 0.25em 0;
}