/*
 * IE7 doesn't recognize 'inherit' value
 */
body.front #header {
  height: auto;
}
body.front #header #logo {
  padding: 0;
}

/*
 * disappearing backgrounds
 */
body.front #header-user-inner,
body.front #content-inner,
#sidebar-left .block,
#sidebar-left .block-inner,
body.front #sidebar-right .block,
body.front #sidebar-right .block-inner,
 {
  zoom: 1;
}

/*
 * button image replacement
 */
#header .block-search .form-submit {
  height: 22px;
}

/*
 * IE whitespace bug in search box
 */
.front #header .block-search .form-submit {
  position: absolute;
  right: 20px;
  top: 10px;
}
.front #header .block-search {
  height: 40px;
}

/*
 * IE z-index bug
 */
#navbar-inner {
  z-index: 10;
}
#header {
  z-index: 1;
}

/*
 * empty mini-nav
 */
#mini-nav {
  display: none;
}
