@CHARSET "UTF-8";

#edit-registration-count-wrapper, #edit-registrar-organization-wrapper, #edit-registrar-city-wrapper, #edit-registrar-state-wrapper,
#edit-registrar-name-first-wrapper, #edit-registrar-name-last-wrapper, #edit-registrar-name-preferred-wrapper, #edit-registrar-content-area-wrapper,
#edit-registrar-name-middle-wrapper, #edit-registrar-position-wrapper, #edit-registrar-phone-day-wrapper, #edit-registrar-content-level-wrapper {
	float: left;
	margin-right: 1em;
}

#edit-registration-count-wrapper {
	padding-top: 0px;
}

div.registration_attendee_line_1 div.form-item, div.registration_attendee_line_1 div.registration_field_number {
	float: left;
	margin-right: .5em;
}

div.registration_attendee_line_1 div.registration_field_number {
	width: 2em;
	font-weight:bold;
	padding-top:2em;
}

div.registration_attendee_line_1 {
	clear: both;
}

div.registration_attendee_line_2 div.form-item {
	float: left;
	margin-right: .5em;

}
div.registration_attendee_line_2 {
	clear: both;
	padding-left: 2.5em;
}

div.registration_attendee_line_2 label {
	clear: both;
}

div.registration_inline {
	float:left;
	margin-right:2em;
}

#course-registration-register-form .form-item .description {
	clear: none;
}

#edit-registrar-name-first-wrapper {
  clear: both;
}