@CHARSET "UTF-8";

.main-color{color:#0078AE;}
.main-color-sub2{color:#afd3e2;}
.accent-color{color:#DDB426;}
.green {color:#00704A;}
.orange {color:#ff9933;}
.red{color:#660000;}

#content .report-table thead th.raterDim-1, #content .report-table tbody td.raterDim-1, #content .raterTable  .raterDim-1, #content  .raterDim-1{background-color:#0078AE; color:#ddd;}
#content .report-table .raterDim-1 a {color:#ddd;}
#content .report-table thead th.raterDim-2, #content .report-table tbody td.raterDim-2, #content .raterTable .raterDim-2, #content  .raterDim-2{background-color:#660000; color:#ddd;}
#content .report-table .raterDim-2 a {color:#ddd;}
#content .report-table thead th.raterDim-3, #content .report-table tbody td.raterDim-3, #content .raterTable .raterDim-3, #content  .raterDim-3{background-color:#DDB426; color:#222;}
#content .report-table thead th.raterDim-4, #content .report-table tbody td.raterDim-4, #content .raterTable .raterDim-4, #content  .raterDim-4{background-color:#00704A; color:#ddd;}
#content .report-table .raterDim-4 a {color:#ddd;}
#content .report-table thead th.raterDim-5, #content .report-table tbody td.raterDim-5, #content .raterTable .raterDim-5, #content  .raterDim-5{background-color:#ff9933; color:#222;}

.cel-keyword-dim-1 { color: #0078AE; }
.cel-keyword-dim-2 { color: #660000; }
.cel-keyword-dim-3 { color: #DDB426; }
.cel-keyword-dim-4 { color: #00704A; }
.cel-keyword-dim-5 { color: #ff9933; }

.overall-D { background-color:#999999;}
.overall-S { background-color:#cccccc;}

table.pdf tbody th { background-color: #FFFFFF;}

.subD1, #content .raterTable .subD1, table.pdf tbody th.subD1 { background-color:#73b5d3; color:#000;}
.subD2, #content .raterTable .subD2, table.pdf tbody th.subD2 { background-color:#b2d6e7;}
.subD3, #content .raterTable .subD3, table.pdf tbody th.subD3 {background-color:#8b3f3e; }
.subD4, #content .raterTable .subD4, table.pdf tbody th.subD4 { background-color:#ac746c;}
.subD5, #content .raterTable .subD5, table.pdf tbody th.subD5 { background-color:#cdafae;}
.subD6, #content .raterTable .subD6, table.pdf tbody th.subD6 {background-color:#e6c75c; }
.subD7, #content .raterTable .subD7, table.pdf tbody th.subD7 {background-color:#ecd688; }
.subD8, #content .raterTable .subD8, table.pdf tbody th.subD8 { background-color:#f5e8bd;}
.subD9, #content .raterTable .subD9, table.pdf tbody th.subD9 {background-color:#73b09c; }
.subD10, #content .raterTable .subD10, table.pdf tbody th.subD10 {background-color:#b2d4c8; }
.subD11, #content .raterTable .subD11, table.pdf tbody th.subD11 { background-color:#feb165;}
.subD12, #content .raterTable .subD12, table.pdf tbody th.subD12 {background-color:#fdc58c; }
.subD13, #content .raterTable .subD13, table.pdf tbody th.subD13 {background-color:#fcd8b4;}

/** satisfy quirky pdf renderer **/
table.pdf th, table.pdf td {  border-left: 1px solid black; border-bottom: 1px solid black; font-size: 9px; font-weight:normal; padding-right:5px;}
table.pdf td { text-align: right; }
table.pdf { page-break-after: always; border-top: 1px solid black; border-right: 1px solid black; border-spacing: none;}
table.pdf  td.overall {font-weight: bold;}

/**
	REPORT TABLE STYES
**/
.report-table.pdf {
font-size:.8em;
}

#content .report-table tbody td {
	width: auto;
}


#content .report-table tbody  td.mismatch {
border: 2px solid #cc3333;
opacity:0.8;
}

#content .report-table tbody td.match {
opacity:0.8;
}

#content .report-table tbody  td.davg, #content .report-table tbody  td.avg  {
opacity:0.8;
}

.report-table td.email {
	width: 20px;
}
.report-table td.exam {
	width: 4em;
}
.report-table td.response_text {
	width: 50%;
}

.davg{background-color:#999999; }
.avg{background-color:#cccccc;}


/* rater comparisons */
#content .report-table tbody tr.rater0, .rater0 { background-color:#eeeeff; }
#content .report-table tbody tr.rater1, .rater1 { background-color:#aaaaaa; }
#content .report-table tbody tr.rater2, .rater2 { background-color:#ffeeee; }
#content .report-table tbody tr.rater3, .rater3 { background-color:#eeffee; }
#content .report-table tbody tr.rater4, .rater4 { background-color:#555555; }

#content .report-table tbody  td { background: none; }

/**
	Make sure to use background-image instead of background for PDF compat
**/
.raters { border-collapse: separate; border-spacing: 1px; }
#content .report-table thead th { padding: 0px; border-bottom:0px; text-align: left; padding-left: .5em;}
#content .report-table thead th.subD1b{ background-image: url(../images/table_header_1standards.jpg);}
#content .report-table thead th.subD2b{ background-image: url(../images/table_header_2teaching_point.jpg);}
#content .report-table thead th.subD3b{ background-image: url(../images/table_header_3intellectual_work.jpg);}
#content .report-table thead th.subD4b{ background-image: url(../images/table_header_4engagement_strategies.jpg);}
#content .report-table thead th.subD5b{ background-image: url(../images/table_header_5talk.jpg);}
#content .report-table thead th.subD6b{ background-image: url(../images/table_header_6content.jpg);}
#content .report-table thead th.subD7b{ background-image: url(../images/table_header_7teaching_approaches.jpg);}
#content .report-table thead th.subD8b{ background-image: url(../images/table_header_8scaffolds_for_learning.jpg);}
#content .report-table thead th.subD9b{ background-image: url(../images/table_header_9assessment.jpg);}
#content .report-table thead th.subD10b{ background-image: url(../images/table_header_10adjustments.jpg);}
#content .report-table thead th.subD11b{ background-image: url(../images/table_header_11physical_environment.jpg);}
#content .report-table thead th.subD12b{ background-image: url(../images/table_header_12routines_and_rituals.jpg);}
#content .report-table thead th.subD13b{ background-image: url(../images/table_header_13culture_and_climate.jpg);}

#content .report-table thead th.raterDim-1b{background-image: url(../images/table_header_d1purpose.jpg);}
#content .report-table thead th.raterDim-2b{background-image: url(../images/table_header_d2student_engagement.jpg);}
#content .report-table thead th.raterDim-3b{background-image: url(../images/table_header_d3curriculum_and_pedagogy.jpg);}
#content .report-table thead th.raterDim-4b{background-image: url(../images/table_header_d4assessment_of_student_learning.jpg);}
#content .report-table thead th.raterDim-5b{background-image: url(../images/table_header_d5classroom_environment_and_culture.jpg);}

#content .report-table thead th.davg_b{background-image: url(../images/table_header_overall_dimension.jpg);}
#content .report-table thead th.avg_b{background-image: url(../images/table_header_overall_exam.jpg);}

#content th.rater_chart {background-image: url(../images/percent_chart_bkg.jpg) ; height: 150px; border-left:none;}

/** default state is not visible **/
#content .drilldown {display:none;}