@CHARSET "UTF-8";

fieldset.row-item,fieldset.row-header {
	border:  none;
	padding: 0px;
	margin: 1px;
}

legend{
  font-weight: bold;
  font-size: 1em;
  color: #E5A10F;
  text-transform: uppercase;
}

fieldset.row-item .form-item,fieldset.row-header .form-item {
	float: left;
	margin-left: 1em;
	padding:0px;
}

fieldset.row-item label {
	width: 50px;
}

fieldset.row-header label {
	width: 13em;
	margin-left: 6em;
}