/**
 * Typography
 */
body, body h1, body h2, body h3, body h4, body h5, body h6
{
  line-height: 1.7em;
}

h1
{
  font-size: 32px;
}

h1 small
{
  padding-left: 10px;
  font-size: 30px;
}

h2
{
  font-size: 23px;
}

a
{
  text-decoration: underline;
}

a span.caret
{
  vertical-align: middle;
}

html, body
{
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

body.toolbar
{
  padding-top: 30px !important;
}

body.toolbar-drawer
{
  padding-top: 65px !important;
}

#banner .logo-row h1
{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 146px;
}

#banner .logo-row h1 a
{
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(59,35,123) url(../images/logo.gif) center center no-repeat;
}

.hide-text
{
  position: absolute;
  top: -100px;
  left: -1000000px;
  text-indent: -1000000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.page-header
{
  border-bottom: 0;
  margin-bottom: 6px;
}