/**
 * Typography
 */
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: Verdana, sans-serif;
}

a
{
  text-decoration: underline;
  color: rgb(59,35,123);
}

a span.caret
{
  vertical-align: middle;
}

fieldset.collapsible legend .fieldset-legend a.fieldset-title
{
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.hide-text
{
  position: absolute;
  top: -100px;
  left: -1000000px;
  text-indent: -1000000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.page-header
{
  border-bottom: 0;
  margin-bottom: 6px;
}

.form-required
{
  color: #b94a48;
}

.gold
{
  color: rgb(230,176,15);
}

.event-date dt
{
  width: 60px;
  text-align: left;
}

.event-date dd
{
  margin-left: 70px;
}

/*
 * Components 
 */
html, body
{
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

body.toolbar
{
  padding-top: 30px !important;
}

body.toolbar-drawer
{
  padding-top: 65px !important;
}

img
{
  width: 100%;
}

.row
{
  padding-bottom: 15px;
}

#banner .logo-row h1
{
  width: 100%;
  margin: 0;
  padding: 20px 0;
  height: 85px;
}

#banner .logo-row h1 a
{
  display: block;
  width: 100%;
  height: 100%;
  background: #fff url(../images/logo.png) center center no-repeat;
}

.navbar
{
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav>li>a
{
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.35);
}

.navbar-nav>.active>a, 
.navbar-nav>.active>a:focus,
.navbar-nav>.active-trail>a,
.navbar-nav>.active-trail>a:focus
{
  background-color: rgb(71,47,146);
  color: #fff;
}

.navbar-nav>li>a:hover,
.navbar-nav>.active>a:hover,
.navbar-nav>.active-trail>a:hover,
.navbar-nav>.open>a,
.navbar-nav>.open>a:hover,
.navbar-nav>.open>a:focus
{
  text-decoration: underline;
  background-color: rgb(59,35,123);
  color: #fff;
}

.navbar-nav>.dropdown>a .caret,
.navbar-nav>.dropdown>a:hover .caret, 
.navbar-nav>.dropdown>a:focus .caret,
.navbar-nav>.open>a .caret, 
.navbar-nav>.open>a:hover .caret, 
.navbar-nav>.open>a:focus .caret,
.navbar-nav>.open>a .caret, 
.navbar-nav>.open>a:hover .caret, 
.navbar-nav>.open>a:focus .caret
{
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-nav .navbar-form
{
  margin-left: 5px;
}

.dropdown-menu
{
  background-color: rgb(59,35,123);
  color: #fff;
  min-width: 100%;
  padding-bottom: 25px;
  background-clip: border-box;
  top: 98%;
  border-top: 0;
}

@media (min-width: 768px) {
  .dropdown-menu
  {
    min-width: 698px;
  }
}

@media (min-width: 992px) {
  .dropdown-menu
  {
    min-width: 910px;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu
  {
    min-width: 940px;
  }
}

.dropdown-menu li a,
.dropdown-menu li .nav>li>a
{
  text-decoration: underline;
  background-color: rgb(59,35,123);
  color: #fff;
}

.dropdown-menu li .nav>li>a:hover,
.dropdown-menu li .nav>li>a:focus
{
  background-color: rgb(71,47,146);
}

.dropdown-menu li .container>.nav>li>a
{
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
}

.dropdown-menu li .container>.nav>li>a:hover,
.dropdown-menu li .container>.nav>li>a:focus
{
  text-decoration: underline;
  background-color: rgb(59,35,123);
}

.dropdown-menu li .nav .nav
{
  margin-left: 15px;
}

.dropdown-menu li .nav .nav > li > a
{
  padding: 3px 0 3px 10px;
  border-left: 1px solid rgb(138,159,199);
  font-size: 12px;
  letter-spacing: 1px;
}

.dropdown-menu li .nav .nav > li > a.active,
.dropdown-menu li .nav .nav > li > a:hover,
.dropdown-menu li .nav .nav > li > a:focus
{
  border-left: 1px solid rgb(230,176,15);
}

.pane-menu-tree h2,
.pane-menu-tree h2 a
{
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  color: #000;
}

.pane-menu-tree h2 a:hover,
.pane-menu-tree h2 a:focus
{
  text-decoration: underline;
  color: rgb(59,35,123);
}

.pane-menu-tree .menu-block-wrapper > .nav
{
  padding: 0 0 10px;
  
}

.pane-menu-tree .nav > li > a.active
{
  background-color: #eee;
}

.pane-menu-tree .nav .nav
{
  margin-bottom: 8px;
}

.pane-menu-tree .nav > li > a 
{
  padding: 5px 20px;
  border-left: 1px solid transparent;
}

.pane-menu-tree .nav .nav > li > a 
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 12px;
}

.pane-menu-tree .nav > li > a:hover,
.pane-menu-tree .nav > li > a:focus,
.pane-menu-tree .nav > li > a.active
{
  border-left: 1px solid rgb(230,176,15);
}


.carousel-caption
{
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.66);
  text-align: left;
  padding: 0 10%;
}

.carousel-header
{
  font-size: 32px; /* h2 size */
  margin-top: 15px;
}

.carousel-body,
.carousel-caption .read-more
{
  font-size: 18px; /* h4 size */
  line-height: 1.25em;
}

.carousel-caption a:hover,
.carousel-caption a:focus
{
  text-decoration: underline;
}

.carousel-caption a,
.carousel-body a:hover,
.carousel-body a:focus
{
  color: inherit;
  text-decoration: none;
}

@media(max-width: 767px) {
  .carousel-caption 
  {
    bottom: 0;
  }

  .carousel-body
  {
    display: none;
  }
}

iframe.twitter-timeline
{
  width: 100% !important;
}

.contextual-links-region .view-content .contextual-links-wrapper
{
  top: 18px;
}

.node-readmore > a:after
{
  content: " »"; 
}

@media (min-width: 992px) {
  ol.recent-news .col-lg-12
  {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-default
{
  background-color: rgb(230,176,15);
  border-color: rgb(230,176,15);
}

.addtoany_list > .addtoany_share_save
{
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: rgb(230,176,15);
  border-color: rgb(230,176,15);
  color: #fff;
  text-decoration: none;
}

#footer
{
  padding: 15px 0;
  background-color: rgb(59,35,123);
  color: #fff;
}

.footer-menu
{
  color: #fff;
  text-align: justify;
}

.footer-menu:after
{
  content: "";
  display: inline-block;
  width: 100%;
}

.footer-menu-item
{
  display: inline-block;
  vertical-align: top;
}

.footer-menu a 
{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-menu a:hover,
.footer-menu a:focus
{
  text-decoration: underline;
}

.footer-menu h3 a
{
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
}

.footer-menu .nav > li > a
{
  padding: 5px 15px 5px 0px;
}

.footer-menu .nav > li > a:hover, 
.footer-menu .nav > li > a:focus 
{
  text-decoration: underline;
  background-color: transparent;
}

.footer-menu .nav .nav 
{
  margin-left: 0px;
}

.footer-menu .nav .nav > li > a 
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  border-left: 1px solid rgb(59,35,123);
}

.footer-menu .nav .nav > li > a:hover,
.footer-menu .nav .nav > li > a:focus
{
  border-left: 1px solid rgb(230,176,15);
}

/**
 * Front page
 */
.front .pane-featured-content
{
  border-bottom: 20px solid rgb(230,176,15);
}

.front h2
{
  margin-top: 0;
}

.front .center-wrapper h3
{
  margin-top: 8px;
  color: #999;
}

