/**
 * Typography
 */
body, body h1, body h2, body h3, body h4, body h5, body h6
{
  line-height: 1.7em;
}

h1
{
  font-size: 32px;
}

h1 small
{
  padding-left: 10px;
  font-size: 30px;
}

h2
{
  font-size: 23px;
}

a
{
  text-decoration: underline;
}

a span.caret
{
  vertical-align: middle;
}

fieldset.collapsible legend .fieldset-legend a.fieldset-title
{
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.hide-text
{
  position: absolute;
  top: -100px;
  left: -1000000px;
  text-indent: -1000000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.page-header
{
  border-bottom: 0;
  margin-bottom: 6px;
}

.form-required
{
  color: #b94a48;
}

/*
 * Components 
 */
html, body
{
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

body.toolbar
{
  padding-top: 30px !important;
}

body.toolbar-drawer
{
  padding-top: 65px !important;
}

#banner .logo-row h1
{
  width: 100%;
  margin: 0;
  padding: 20px 0;
  height: 45px;
}

#banner .logo-row h1 a
{
  display: block;
  width: 100%;
  height: 100%;
  background: #fff url(../images/logo.png) center center no-repeat;
}

#navbar .navbar-inner
{
  background-color: #fff;
  background-image: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*#navbar .nav
{
  text-align: justify;
  width: 100%;
}

#navbar .nav>li,
#navbar #block-search-form
{
  float: none;
  display: inline-block;
}

#navbar .nav:after
{
  content: '';
  width: 100%;
  display: inline-block;
}*/
