@CHARSET "UTF-8";


  body
  {
  	background-color:#CDC7D1;
  }
  
  #page
  {
  	background-color:#fff;
  	border:0px solid #ccc;
  	/*background: #FAFAF9 url(../images/temp.png) no-repeat top right;*/
  }
  #page-inner
  {
  	padding: 0;
  }

  #footer {
    margin: 1em 0;
    background: url(../images/footer-bg.png) repeat-x top left;
    height: 31px;
    line-height: 29px;
    overflow: hidden;
  }  
  #footer-inner {
    padding: 0;
    text-align: center;
  }
  
  img#footer-w { width:27px; height:18px; top:5px;  position:relative; }
  #footer a, #site-by a { text-decoration:none; }
  #footer a:hover, #site-by a:hover { text-decoration:underline; }
  
  #site-by {
    margin: 0;
    background: #CDC7D1;
  }

  #mini-nav {
    background: #33004D;
    padding: 0.1em 0;
    overflow: hidden;
  }
  #mini-nav-inner {
    text-align: right;
    font-size: 0.85em;
  }
  #mini-nav-user, #training-notice {
    margin: 0.1em 0.5em;
    font-weight: bold;
    color: white;
  }
  #training-notice {
  	float: left;
  }

  #mini-nav .links {
    display: inline;
    margin-right: -1px;
  }
  #mini-nav li {
    border-right: 1px solid #B79A34;
    margin: 0;
    padding: 0 1.5em;
  }
  #mini-nav li.last {
    border-right: none;
  }
  #mini-nav li a {
    background: none;
    color: #B79A34;
    padding: 0;
  }
  #site-name {
    visibility: hidden;
  }

#content-area{margin-top:2em;}

.clear { clear:both; }

#raterTableIdentifier {
float:left;
width:50%;
}

.raterTable ol {
margin:0;
padding-left:2em;
}

#cel-admin-keyword-list .cel-admin-keyword-unapproved {
  color: #888;
}
#cel-admin-keyword-list .cel-admin-keyword-approved {
}
#cel-admin-keyword-list .cel-admin-keyword-pending {
  color: #951;
}

tr.even, tr.odd {
background-color: transparent;
border-bottom:1px dotted #0078AE;
padding:0.1em 0.6em;
}

tr.even td {
  background-color:#eeeeee;
}
tr td.subhead {
  background-color:#cccccc;
}

/* views */
#content-area .views-row-odd, #content-area .views-row-even { border-bottom:1px dotted #888; padding-bottom:1em; margin-top:1em; }
#content-area .views-row-first { margin-top:0em; }
#content-area .views-row-last { border-bottom:0px; }

/* Feeds */
.view-education-feeds { font-size:11px; }
.view-education-feeds .views-field-title { float:left; margin-right:0.4em; }
#sidebar-right .view-education-feeds .views-field-title a { text-decoration:none; color:#0078ae; font-size:11px; font-family:arial; }
#sidebar-right .view-education-feeds .views-field-title a:hover { text-decoration:underline; } 
.view-education-feeds .views-field-title-1, .view-education-feeds .views-field-timestamp { color:#666; font-size:10px; } 
.view-education-feeds label { font-weight:normal; }
.view-education-feeds .views-row-odd, .view-education-feeds .views-row-even { margin-bottom:1.5em; }


#block-cel-5 td.subhead,#block-cel-7 td.subhead {
  border-bottom:1px solid #888;
}

#content table {
  border-collapse: collapse;
  border-spacing: 0;
}

#content thead th {
  background: #CDC7D1;
  padding: 0.2em 0.5em;
  vertical-align: bottom;
  text-align: left;
  color: #333;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
#content tbody tr {
  border-bottom: none;
}
#content tbody td {
  border-left: 1px solid white;
  border-bottom: none;
  background: #EBE9EE;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}
#content thead th:first-child, #content tbody td:first-child {
  border-left: none;
}
#content tbody tr.even td {
  background: #D8D5DC;
}
#content table.cel-assessment-management td a {
  white-space: nowrap;
  color: #33004D;
}

#content tbody tr.pending td, #content tbody tr.processing td {
	background-color: #fefe9c;
}
#content tbody tr.pending.even td, #content tbody tr.processing.even td {
	background-color: #eeee9c;
}

.status,
.messages{
	color:#000;
	font-weight:bold;
	margin-bottom:2em;
	background-color:#cdafae;
	/*background: #cdafae url(../images/message.png) no-repeat top left;*/
	padding:0.5em 1em;
  /*padding-left:1.5em;*/
	/*padding-top:.75em;*/
	border:1px solid #ad766b;
}

.front .node-inner .links {
  display: none;
}
#content .node-inner .links .statistics_counter {
  display: none;
}

.block-inner{
}

.block .content{
	margin:0 .5em .75em .5em;
}

.node .submitted { font-size:0.9em; color:#666; }

/* assessment home page only
#content-area .region-even{
		float:right;
}

#content-area .region-odd{
	float:left;
}
*/

#footer-message, #site-by{
  text-align:center;
  font-size: 0.9em;
  padding: 0.25em 0;
  line-height: 25px;
}
/*
=LINKS & ITEM LIST
*******/
.item-list{
	margin-top:.5em;
}

.item-list ul{
	list-style-type: none;
	margin:0;
padding:0;
}

.item-list ul li{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0.25em 0;
padding:0;
}



.item-list ul li a,
ul.links li a, div.links .links a{
/*	padding-right:.75em;  */
	text-decoration:none;
/*	background: transparent url(../images/arrow.png) no-repeat center right;  */
}

.item-list ul li a:hover,
ul.links li a:hover {
  text-decoration: underline;
}


/********
=PRIMARY menu
*****************/
#navbar{
   overflow: visible;
}
#navbar .block-config { display:none; }


/**
 * Breadcrumbs and titles
 */
#page #main .breadcrumb {
  font-size: 0.9em;
  float: right;
  padding: 0.8em 0 0 2em;
  color: #636363;
}
#page #main .breadcrumb a {
  font-size: 1em;
  color: #33004D;
}
#page #main .breadcrumb a:hover {
  text-decoration: none;
}
#page #main h1.title {
  color: #33004D;
  font-size: 1.4em;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  border-bottom: 1px dotted #33004D;
  padding-bottom: 0.2em;
}



/**
	REPORT TABLE STYES
**/
.report-table.pdf {
font-size:.8em;
}

#content .report-table tbody td {
	width: auto;
}


#content .report-table tbody  td.mismatch {
border: 2px solid #cc3333;
opacity:0.8;
}

#content .report-table tbody td.match {
opacity:0.8;
}

#content .report-table tbody  td.davg, #content .report-table tbody  td.avg  {
opacity:0.8;
}

.report-table td.email {
	width: 20px;
}
.report-table td.exam {
	width: 4em;
}
.report-table td.response_text {
	width: 50%;
}


.davg{background-color:#999999; }
.avg{background-color:#cccccc;}


/* rater comparisons */
#content .report-table tbody tr.rater0, .rater0 { background-color:#eeeeff; }
#content .report-table tbody tr.rater1, .rater1 { background-color:#aaaaaa; }
#content .report-table tbody tr.rater2, .rater2 { background-color:#ffeeee; }
#content .report-table tbody tr.rater3, .rater3 { background-color:#eeffee; }
#content .report-table tbody tr.rater4, .rater4 { background-color:#555555; }

#content .report-table tbody  td { background: none; }


#content th.rater_chart {background-image: url(../images/percent_chart_bkg.jpg) ; height: 150px; border-left:none;}

/** default state is not visible **/
#content .drilldown {display:none;}

.yui-toolbar-group-plugins h3 {
	display: none;
}

.yui-toolbar-group-plugins {
	padding-top: 22px;
}

#response_preview {
	background-color: #ffffff;
	border: 1px solid;
	padding: .5em;
}

/** calendar **/
.calendar-calendar .month-view table {
	width:auto;
}

.nice-menu-hide-title {
	display: none;
}

/**
 * Front page wixed-width content layout
 */
 /*
body.front #page {
  min-width: 960px;
}
body.front #navbar-inner,
body.front #header,
body.front #main {
  width: 931px;
  margin-left: auto;
  margin-right: auto;
}
*/

/**
 * Navbar
 */
#navbar .block .content {
  margin: 0;
}
#navbar {
  height: 31px;
  background: url(../images/navbar-bg.png) repeat-x top left;
  padding: 0;
}
#navbar-inner {
  position: relative; /* container */
  margin: 0 25px; /* matches left and right content margins */
  margin-left:18px;
}
#navbar-user {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 300px; /* matches right sidebar width */
  height: 31px;
  overflow: hidden;
}
#navbar-primary-links, #navbar-user {
  height: 31px;
  overflow: hidden; /* contain floats */
}
#navbar ul.links,
#navbar ul.nice-menu {
  padding: 0;
  float: left; /* shrinkwrap */
  padding-right: 2px;
  background: url(../images/navbar-spacer.png) no-repeat top right;
  list-style-type: none;
  height: 31px;
}
#navbar .links li,
#navbar .nice-menu li {
  display: block;
  float: left;
  height: 31px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  padding-left: 2px;
  background: url(../images/navbar-spacer.png) no-repeat top left;
  border: none; /* nice menus override */
}
#navbar .links li a,
#navbar .nice-menu li a {
  font-weight: bold;
  font-size: 1em;
  color: white;
  background: none;
  padding: 0;
  display: block;
  padding: 0 1.5em 2px 1.5em;
  height: 29px;
  line-height: 28px;
  text-decoration: none; /* nice menus override */
}
#navbar .links li a:hover,
#navbar .nice-menu li a:hover {
  color: #fff922;
}
#navbar .primary-links li a,
#navbar .nice-menu li a {
  text-transform: uppercase;
}
#navbar .nice-menu .sf-sub-indicator {
  display: none;
}
#navbar .nice-menu li ul {
  background: none;
  border: none;
  position: absolute;
  top: 29px;
  left: 2px;
}
#navbar .nice-menu li li {
  background: #600074;
  border: none;
  padding: 0;
  height: auto;
}
#navbar .nice-menu li li a {
  text-transform: none;
  height: auto;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 7px;
}
#navbar .primary-links li.active-trail a,
#navbar .nice-menu li.active-trail a {
  background: url(../images/navbar-active-bg.png) repeat-x top center;
}
#navbar .nice-menu li ul li.active-trail a,
#navbar .nice-menu li.active-trail ul li.active-trail a {
  background: #94579F url(../images/navbar-sub-active-bg.gif) no-repeat center left;
}
#navbar .nice-menu li.active-trail li a,
#navbar .nice-menu li.active-trail.sfHover li a {
  background: #600074;
}
#navbar .nice-menu li.active-trail.sfHover a {
  background: #94579F url(../images/navbar-active-hover-bg.png) repeat-x top left;
}

/**
 * Header
 */
#page-inner {
  position: relative; /* container */
}

.admin-menu #admin-menu { /* correct admin_menu css, which assumes #page-inner is unpositioned */
  top: -20px;
}
/*
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
*/
#header .edit { display:none; }

#header #logo-title { float: left; width:278px; }

#header #logo {  
  margin: 28px 20px;
}
#header-right { float:right; height:128px; width:670px; }
#header-right .block .content { float:right; margin:0px; padding:0px; }

#block-views-header_photos-block_1 .configure { display:none; }


#search-box { float:right; margin-top:2px; }
#search-box label { display:none; }
#search-box input { font-size:11px; }
#search-box .form-submit { color:#000; width:58px; height:22px; background:#e4ba68 url(../images/search-bg.gif) no-repeat; }

/*
#header .block-search {
  position: absolute;
  top: 30px;
  right: 0;
  width: 325px; 
  height: 52px;
  background: url(../images/searchbar-mini-bg.png) top left;
}
#header .block-search .block-inner {
  padding-top: 5px;
}
#header .block-search h2.title,
#header .block-search label {
  display: none;
}
#header .block-search .content {
  margin: 10px 20px 0;
}
#header .block-search form div,
#header .block-search input {
  display: inline;
}
#header .block-search input {
  vertical-align: middle;
}
#header .block-search .form-text {
  border: 1px solid #aaa;
  height: 15px;
  width: 130px;
  background: #f6f6f6;
  margin-right: 4px;
  font-size: 12px;
}
#header .block-search .form-submit {
  width: 58px;
  height: 0;
  padding-top: 22px;
  border: none;
  background: url(../images/button-search.png) no-repeat top left;
}
#header .block-search .edit {
  display: none;
}
*/

/**
 * Header: front page
 
body.front #page-inner {
  padding-top: 0;
}
body.front #header {
  position: relative;
  padding: 18px 0 0;
  height: inherit;
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
  letter-spacing: 0.01em;
  line-height: 1.7em;
}
body.front #header-inner {
  background: url(../images/home-spotlight.jpg) no-repeat 268px 0;
  padding-top: 18px;
  padding-right: 692px;
  min-height: 270px;
}
body.front #header #logo {
  padding: inherit;
}
*/

#header-inner #site-name {
  display: none;
}
#header-inner #mission-wrapper { height:128px; background:#0077ad url(../images/grad-mission.gif) top right repeat-y; } 
#header-inner #mission {
  font-family:Trebuchet MS;
  font-size:14px;
  padding:10px 20px;
  padding-right:28px;    
  color:#fff;
  line-height:1.9em;
  text-align:justify;
}
#header-inner #mission-w { position:absolute; margin-left:610px; margin-top:98px; width:31px; height:21px; background:url(../images/mission-w.gif) no-repeat;}


/* login tab */
a#login-tab { float:right; width:92px; height:18px; margin-right:30px; display:block; background:url(../images/login-tab.gif) no-repeat; } 
a#login-tab.logout { background-image:url(../images/logout-tab.gif); }

body.front #spotlight { height:220px; width:670px; float:left; }

body.front #spotlight-sibling { float:left; width:239px; margin-left:22px; }
body.front #spotlight-sibling .block { margin-bottom:0.5em;  background: url(../images/box-239px-bottom.png) repeat-y bottom left;  }
body.front #spotlight-sibling .block .title { font-size:16px; }
body.front #spotlight-sibling .block-inner { background: url(../images/box-239px-top.png) no-repeat top left; }
body.front #spotlight-sibling .block label { font-weight:normal; }
body.front #spotlight-sibling .block .content, body.front #spotlight-sibling .block .form-submit { font-size:11px; }
body.front #spotlight-sibling .block .form-item { margin-top:0px; padding:0px; }

body.front #spotlight-sibling .block .view-og-my .views-field-title { width: 210px; }

body.front #spotlight-sibling .block-user { min-height:210px; margin-bottom:0px; }
body.front #spotlight-sibling .block-user .content, body.front #spotlight-sibling .block-user .title { padding-left:25px; }



.block .form-text { background:#f6f6f6; border:1px solid #a7b0b4; }

/*
body.front #header .block-search {
  position: absolute;
  width: 239px;
  height: inherit;
  top: 0;
  right: 0;
  background: url(../images/searchbar-bg.png) no-repeat bottom left;
  padding: 0 0 10px 0;
}
body.front #header .block-search .block-inner {
  padding: 0;
}
body.front #header-user {
  width: 239px;
  position: absolute;
  right: 0;
  top: 70px;
  background: url(../images/box-239px-bottom.png) repeat-y bottom left;
}
body.front #header-user-inner {
  background: url(../images/box-239px-top.png) no-repeat top left;
  padding: 10px 25px;
}
body.front #header-user h3 {
  color: #EEA10F;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0.5em;
}
body.front #header-user .form-text {
  width: 85%;
  border: 1px solid #aaa;
  background: #f6f6f6;
}
body.front #header-user .form-item {
  padding: 0;
}
body.front #header-user .form-item label {
  font-weight: normal;
}
body.front #header-user .form-required,
body.front #header-user .form-item .description {
  display: none;
}
body.front #header-user ul.links {
  margin: 0.7em 0 0.5em;
}
body.front #header-user ul.links li {
  display: block;
  padding: 0;
  font-size: 0.9em;
  line-height: 145%;
}
body.front #header-user ul.links li a {
  padding: 0;
  background: none;
}
body.front #header-user ul.links li a:hover {
  text-decoration: underline;
}
*/

/**
 * Sidebars
 */
.sidebar-block .block, 
#sidebar-left .block,
#sidebar-right .block {
  margin-bottom: 1em;
}
.sidebar-block .block .content,
#sidebar-left .block .content,
#sidebar-right .block .content {
  margin: 0;
  padding: 0.6em 12px;
}
.sidebar-block .block .title,
#sidebar-left .block .title,
#sidebar-right .block .title,
#sidebar-left .block .menu-name,
body.front #content #content-area h2.title {
  color: #EEA10F;
  font-size: 18px;
  font-weight: bold;
  /*font-family: Helvetica, Arial, sans-serif;*/
}
body.front #content #content-area .view-header h2.title { margin-top:2px; }

.sidebar-block .block .title,
#sidebar-left .block .title,
#sidebar-right .block .title {
  padding: 9px 12px 0;
  margin: 0;
}

/**
 * Left sidebar
 */
.sidebar-left #content-inner,
.two-sidebars #content-inner {
  padding-left: 250px;
  padding-right:15px;
}
#sidebar-left {
  width: 250px;
  margin-right: -250px;
}
#sidebar-left-inner {
  margin: 0 15px 15px 0;
}
#sidebar-left .block {
  background: url(../images/box-221px-bottom.png) repeat-y bottom left;
}
#sidebar-left .block-inner {
  background: url(../images/box-221px-top.png) no-repeat top left;
}

#sidebar-left .block .menu-name { 
  font-size:16px;
  margin-bottom:0.75em;
  padding-bottom:0px; 
}
#sidebar-left .menu {
  font-size: 0.9em;
  font-family:verdana;
}
#sidebar-left .menu a {
  text-decoration: none;
}
#sidebar-left .menu a:hover {
  text-decoration: underline;
}
/**
 * Right sidebar
 */
.sidebar-right #content-inner,
.two-sidebars #content-inner {
  padding-right: 236px;
}
#sidebar-right {
  width: 236px;
  margin-left: -236px;
  clear:right;
}
#sidebar-right-inner {
  margin: 0 0 15px 15px;
}
/**
 * Sidebars: home page
 */
body.front .views-field-title a { font-family: Trebuchet MS; font-size:13px; color:#33004d; font-weight:bold; line-height:1.25em; } 
 
 
body.front #sidebar-left .block .title, 
body.front #sidebar-right .block .title,
body.front #content #content-area h2.title {
  font-size:18px;
  padding-bottom:0.5em;
} 
body.front #content-inner {
  padding-left: 620px;
  padding-right: 0px;
}
body.front #sidebar-left {
  width: 620px;
  margin-right: 0px;
}
body.front #sidebar-left-inner {
  margin-right: 4px;
}
body.front #sidebar-right .block,
body.front #content .block {
  background: url(../images/box-306px-bottom.png) repeat-y bottom left;
}
body.front #sidebar-right .block-inner,
body.front #content .block-inner {
  background: url(../images/box-306px-top.png) no-repeat top left;
}

body.front #sidebar-left .block {
  background: url(../images/box-616px-bottom.png) repeat-y bottom left;
}
body.front #sidebar-left .block-inner {
  background: url(../images/box-616px-top.png) no-repeat top left;
}

body.front #sidebar-right {
  width: 310px;
  margin-left: -310px;
}
body.front #sidebar-right-inner {
  margin-left: 4px;
}

body.front #content .block { margin-bottom:1em; margin-left:4px; }
body.front #content .block-inner { padding: 7px 14px 0; }


/**
 * Home content
 */
body.front #content-inner {
  margin: 0;
  padding-top: 0;
}
body.front #content-area {
  margin-top: 0;
}
body.front #content-bottom {
  margin-top: 0;
}

/*

body.front #content {
  background: url(../images/box-306px-bottom.png) repeat-y center bottom;
}
body.front #content-inner {
  margin: 0;
  padding-top: 0;
  background: url(../images/box-306px-top.png) no-repeat center top;
}
*/

body.front #content-header * {
  display: none;
}
body.front #content-header .messages {
  display: block;
  clear:both;
}
/*
body.front #content-area {
  margin-top: 0;
  padding: 7px 14px 0;
}
body.front #content-bottom {
  margin-top: 0;
  padding: 0 14px 7px;
}
*/

/*
body.front #content #content-area h1.title,
body.front #content #content-area h2.title {
  border: none;
  color: #EEA10F;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 3px;
}
*/
/**
 * Home News view
 */
#sidebar-left .view-News-List .views-row-odd,
#sidebar-left .view-News-List .views-row-even {
  overflow: hidden; /* contain floats */
  margin: 0 0 1em;
}
#sidebar-left .view-News-List a {
  text-decoration: none;
}
#sidebar-left .view-News-List a:hover {
  text-decoration: underline;
}
#sidebar-left .view-News-List .views-field-field-thumbnail-fid {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
#sidebar-left .view-News-List .views-field-field-thumbnail-fid img {
  border: 1px solid #ccc;
}
#sidebar-left .view-News-List .views-field-title {
  font-weight: bold;
  margin-bottom: 0.2em;
}
#sidebar-left .view-News-List .views-field-title a {
  color: #33004D;
}
#sidebar-left .view-News-List .views-field-teaser {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}
#sidebar-left .view-News-List .views-field-view-node {
  font-size: 0.9em;
}
/**
 * Home Upcoming Events view
 */
.front #content-area .view-course-calendar .views-row-odd,
.front #content-area .view-course-calendar .views-row-even {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.front #content-area .view-course-calendar a {
  text-decoration: none;
}
.front #content-area .view-course-calendar a:hover {
  text-decoration: underline;
}
.front #content-area .view-course-calendar .views-field-field-event-dates-value {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 110%;
}
.front #content-area .view-course-calendar .views-field-title a {
  font-weight: bold;
  color: #33004D;
}
.front #content-area .view-course-calendar .views-field-nothing-1 {
  font-size: 0.9em;
  line-height: 150%;
}
.front #content-area .view-course-calendar .views-field-nothing-1 .lms-location {
  margin-bottom: 0.5em;
}
.front #content-area .view-course-calendar .views-field-nothing-1 .lms-location span {
  display: block;
}
.front #content-area .view-course-calendar .views-field-view-node {
  margin-top: -0.4em;
}
.front #content-area .view-course-calendar .views-field-view-node a,
.front #content-area .view-course-calendar .views-field-nothing a {
  font-size: 0.9em;
}
/**
 * Home calendar
 */
.front #content-bottom .view-course-calendar .view-header ul.links {
  padding: 0;
}
.front #content-bottom .view-course-calendar .view-header .links li {
  display: block;
  padding: 0;
  margin: 0.5em 0;
}
.front #content-bottom .view-course-calendar .view-header .links li a {
  display: block;
  padding-left: 12px;
  background: url(../images/ul-bullet-arrow-northeast.gif) no-repeat bottom left;
  min-height: 7px;
  line-height: 100%;
}
.front #content-bottom .view-course-calendar .attachment-before {
  margin-top: 1.5em;
  margin-bottom: 0.1em;
}
.front #content-bottom .view-course-calendar .attachment-before .date-prev,
.front #content-bottom .view-course-calendar .attachment-before .date-next {
  visibility: hidden;
}
.front #content-bottom .view-course-calendar .view-content table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.front #content-bottom .view-course-calendar h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.front #content-bottom .view-course-calendar a {
  text-decoration: none;
}
.front #content-bottom .view-course-calendar table {
  border: 1px solid #A7B0B4;
}
.front #content-bottom .view-course-calendar th.days {
  font-size: 0;
  text-align: center;
  background: #224;
  font-weight: bold;
  color: #ccc;
  border: none;
}
.front #content-bottom .view-course-calendar th.days:first-letter {
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
}
.front #content-bottom .view-course-calendar td {
  background: none;
  border: none;
  font-size: 1.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.front #content-bottom .view-course-calendar td a {
  color: #55226B;
}
.front #content-bottom .view-course-calendar td.sun,
.front #content-bottom .view-course-calendar td.sat {
  background: #eee;
}
.front #content-bottom .view-course-calendar td.today {
  background: #fcc;
}
.front #content-bottom .view-course-calendar td.has-events {
  background: #ff6;
}
/**
 * Home Featured Videos
 */
.front .view-Videos-List .views-row-first,
.front .view-Videos-List .views-row-last {
  margin: 0 0 1em;
  position: relative; /* container */
  overflow: hidden; /* contain floats */
}
.front .view-Videos-List .views-field-field-vimeo-embed {
  float: left;
  margin: 0 1em 0.7em 0;
}
.front .view-Videos-List .views-field-field-vimeo-embed img {
  border: 2px solid #aaa;
}
.front .view-Videos-List .views-field-title {
  line-height: 100%;
  margin-bottom: 0.5em;
  font-family: Helvetica, Arial, sans-serif;
}
.front .view-Videos-List .views-field-title a {
  font-weight: bold;
  color: #33004D;
}
.front .view-Videos-List .views-field-teaser {
  font-size: 0.9em;
}
.front .view-Videos-List .views-field-view-node a {
  width: 40px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  top: 40px;
  left: 54px;
  line-height: 100px; /* image replacement */
  overflow: hidden;
  background: url(../images/button-play-video.png) no-repeat top left;
}

.front .view-Videos-List ul li {
	position: relative;
	min-height: 110px;
}

/**
 * Interior content pages
 */
.not-front #content-inner {
  margin-top: 0;
}
.not-front #page #main #content-header h1.title {
  padding: 0;
  border-bottom: none;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  margin-top:0.3em;
  margin-bottom: 1em;
  font-size: 20px;
  color: #e7a614;
}
.not-front #page #main #content-header h1.title a {
  color: #e7a614;
}

.field-quote { 
  margin-left:10px;
  margin-top:48px; 
  margin-bottom:1em;
  color:#666; 
  background:#fafafa; 
  /*
  color:#a96cb1;
  font-family:Trebuchet MS;
  font-style:italic;
  background:#fdfbf5;
  */
  
  padding:1em;
  padding-bottom:0.1em; /* <p> tag takes care of this */
   
}


/**
 * Course List view
 */
#main .view-Course-List .views-exposed-form {
  margin-bottom: 2em;
}
#main .view-Course-List .views-exposed-form div,
#main .view-Course-List .views-exposed-form input,
#main .view-Course-List .views-exposed-form label {
  display: inline;
}
#main .view-Course-List .views-exposed-form input {
  margin: 0 3em 0 0;
}
#main .view-Course-List .views-exposed-form label:after {
  content: ':';
}
#main .view-Course-List .views-row-odd,
#main .view-Course-List .views-row-even {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
#main .view-Course-List .views-field-title {
  margin-bottom: 0.5em;
  font-weight:bold;
  font-size:1.2em;
}
#main .view-Course-List .views-field-field-thumbnail-fid {
  float: left;
  margin-top: .5em;
  margin-right: 1em;
  margin-bottom: .5em;
}
#main .view-Course-List .views-field-teaser,
#main .view-Course-List .views-field-teaser p {
  margin-bottom: 1em;
}
#main .view-Course-List .views-field-view-node,
#main .view-Course-List .views-field-nothing {
  margin-bottom: 0.5em;
}
#main .view-Course-List .views-field-field-event-dates-value label,
#main .view-Course-List .views-field-field-cost-single-value label {
  display: inline;
}

#main .view-og-my div.views-field-post-count-new {
	min-height: .5em;
}
#main .view-og-my div.views-field-title {
/*	float: left; */
	margin-right: 1em;
	width: 180px;
}

/**
 * Calendar page
 */
#main .view-course-calendar .view-header {
  margin-bottom: 1em;
}

/**
 * Course details page
 */
body.node-type-course .node-inner .taxonomy {
  display: none;
}
.node-type-course #sidebar-right {
  line-height: 120%;
  font-size: 0.9em;
}
.node-type-course #sidebar-right a {
  text-decoration: none;
}
.node-type-course #sidebar-right a:hover {
  text-decoration: underline;
}
.node-type-course #sidebar-right h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
#sidebar-right #lms-course-details .lms-course-dates {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #33004D;
}
#sidebar-right .lms-course-detail {
  margin-bottom: 1em;
}
#sidebar-right .lms-location {
  margin-bottom: 0.8em;
}
#sidebar-right .lms-location span,
#sidebar-right .lms-course-fee-level {
  display: block;
  margin-bottom: 0.3em;
  line-height: 120%;
}

/**
 * Course Group Dashboard page
 */
.page-groupdash #content .view-Group-Dashboard .views-row-odd,
.page-groupdash #content .view-Group-Dashboard .views-row-even {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.page-groupdash #content .view-Group-Dashboard p {
  margin-bottom: 1em;
}
.page-groupdash #content .view-Group-Dashboard .links li {
  display: block;
}

/**
 * Featured video page
 */
body.node-type-video-feature .node-inner .submitted {
  display: none;
}
body.node-type-video-feature .node-inner .content {
  overflow: hidden; /* contain floats */
}
body.node-type-video-feature .node-inner .field-type-emvideo {
  float: left;
  margin: 0 1em 1em 0;
}

/**
 * News page
 */
.section-news .node-type-news .links li {
  /*display: block;*/
  margin-right:1em;  
}

.section-news #content-area .view { border-top:1px dotted #888; padding-bottom:1em; margin-top:1em; }

.section-news .title { margin-bottom:0px; }
.section-news .submitted { margin-bottom:0.5em; }

.section-news .node-type-news .links { clear:both; }

.section-news .field-field-thumbnail { float:left; }
.section-news .field-field-thumbnail img { margin-right:1em; margin-bottom:1em; }

.node-type-news {
	line-height: 2em;
}

/**
*  Hide OPML feed icon
*/
.view-og-my div.attachment-after {
	display: none;
}
/**
* reports export
*
*/
.indchoices {
	border:1px solid #111111;
	margin-left:1em;
	padding:0.5em;
	width:45%;
	display:none;
}


/**
* Fix image alignment in IE7 on news pages
*/
.node-type-news img[align=left] {
	float: left;
}
.node-type-news img[align=right] {
	float: right;
}

**
* Fix image alignment in IE7 on news pages
*/
.node-type-news img[align=left] {
	float: left;
}
.node-type-news img[align=right] {
	float: right;
}

.node-teaser .imagecache-news_thumbnail {
	float: left;
	margin: 0em 1em 1em 0em;
}

div.node-type-news {
	clear: both;
}

.cart-block-summary-links ul.links li, .cart-block-summary-links ul.links li.last {
border-right:none;
padding:0 5px 7px 1em;
display: inline;
}

.product-info .uc-price-display {
  float: none;
}

.order-review-table {
  font-size: 1.1em;
  width: 100%;
}

#uc-cart-checkout-form #quotes-pane {
  display: none;
}

.node-type-printed_product .product-image.full-node {
  padding-left: 0px;
  float: none;
  margin-left: 0px;
  text-align: left;
}

.node-type-printed_product .product-image.full-node img {
  border: 1px solid black;
}