html,body
{
  background-color: #fff;
  width: 100%;
  padding-bottom: 20px;
}

#site-name-container
{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: rgb(230,176,15);
  height: 120px;
}

h1#site-name
{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%
}

h1#site-name a
{
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../images/logo.gif) bottom center no-repeat;
}

.hide-text
{
  position: absolute;
  top: -100px;
  left: -1000000px;
  text-indent: -1000000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#meta-nav
{
  max-height: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 1031;
}

#meta-nav .navbar-inner
{
  min-height: 30px;
  height: 30px;
  background-color: rgb(71,47,146);
  background-image: none;
}

#meta-nav.navbar .nav > li > a
{
  padding: 5px 15px 5px;
}

#meta-nav.navbar .navbar-search
{
  margin-top: 2px;
}

#meta-nav.navbar .navbar-search .search-query
{
  padding: 2px 14px;
}

#meta-nav.navbar .navbar-search .btn
{
  padding: 2px 12px;
}

#primary-nav
{
  position: absolute;
  top: 150px;
}

#primary-nav .wrapper
{
  width: 940px;
  margin: 0 auto;
}

#primary-nav .nav
{
  position: static;
}

#primary-nav .dropdown
{
  position: static;
}

#primary-nav .dropdown-menu
{
  top: 38px;
  left: 0;
  right: 0;
}

#primary-nav .nav > li .dropdown-menu:before
{
  border: 0;
}

#primary-nav .nav > li .dropdown-menu:after
{
  border: 0;
}

#primary-nav .nav > li .dropdown-menu .nav-list
{
  padding-top: 10px;
  padding-bottom: 20px;
}

#primary-nav .nav > li .dropdown-menu .nav-list > li
{
  float: none;
}

#primary-nav .nav > li .dropdown-menu .nav-list > li > a
{
  font-size: 13px;
  padding: 1px 10px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-left: 2px solid #ccc;
}

#main-content
{
  margin-top: 188px;
}

#footer
{
  background-color: rgb(122,122,122);
  padding: 19px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}